.block {
  margin: 2rem 0;
  line-height: normal;
  padding: 3rem;
  border-radius: 2rem;
  background-color: var(--light);
  box-shadow: 5px 5px 0 0;
  display: block;
  border: 1px solid var(--dark);
  width: fit-content;
  position: relative;
  z-index: 1;
}

.square {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  min-width: 4rem;
  aspect-ratio: 1;
  height: 100%;
}
