.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
  }

  #menu,
  #tools {
    list-style-type: none;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    > :first-child {
      border-radius: 10px 0px 0px 10px;
    }

    > :last-child {
      border-radius: 0px 10px 10px 0px;
    }
  }

  &__logo {
    flex: 1;
  }

  #menu,
  #tools {
    display: flex;
    gap: 1rem;
    background-color: var(--light);
  }

  #tools {
    justify-content: flex-end;
  }

  &__item {
    display: flex;
    height: 100%;
  }
}
