.nav {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  margin-top: var(--spacing-l);

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    list-style-type: none;
  }
}
