@import "@/assets/utilities";
@import "@/assets/variables";

.inputContainer {
    position: relative;
    height: 4.5rem;

    &__input {
        position: relative;
        @extend .full;
        padding: 1.5rem 2rem;
        background-color: var(--light);
        caret-color: var(--clr-primary);
        border: 1px solid var(--dark);
        border-radius: 1rem;
        box-shadow: 5px 5px 0px var(--dark);
        color: var(--dark);
        font-size: var(--font-size-md);
        font-family: var(--font-family-secondary);

        &:focus,
        &:focus-visible {
            outline: 2px solid var(--secondary);
        }

        &::placeholder {
            color: var(--dark);
            opacity: 0.75;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 1.5rem;
        width: 2rem;
        height: 100%;
        @extend .btn-none;
        cursor: pointer;
    }
}