@import "../../../assets/variables";

.checkbox {
  &__input {
    appearance: none;
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid var(--dark);
    display: grid;
    place-content: center;
    position: relative;

    // &:focus,
    // &:focus-visible {
    //   outline: 2px solid var(--secondary);
    // }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - (1.4rem/2));
      left: calc(50% - (1.4rem/2));
      width: 1.4rem;
      aspect-ratio: 1;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      border-radius: 2px;
    }

    @each $name,
    $color in $colors {
      &--#{$name} {
        &::before {
          background-color: var(--#{$name});
        }
      }
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}