@import "@/assets/variables";

.strip {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  word-break: keep-all;

  @media (min-width: #{map-get($breakpoints, "md")}) {
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;

    .sprites {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
    }
  }

  &::before {
    content: "";
    height: 5rem;
    width: 100%;
    border-radius: 2rem;
    width: 100%;
    background-color: var(--secondary);

    @media (min-width: #{map-get($breakpoints, "md")}) {
      flex: 1;
    }
  }

  @each $name, $color in $colors {
    &--#{$name} {
      &::before {
        background-color: var(--#{$name});
      }

      .sprites {
        fill: var(--#{$name});
      }
    }
  }

  .sprites {
    height: 5rem;
  }
}

[data-theme="dark"] {
  .strip {
    color: var(--light);
  }
}
