@import "@/assets/variables";

.folder {
  border-radius: 5rem;
  position: relative;
  overflow: hidden;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 6rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      mask: url("../../../assets/images/folder.svg") no-repeat 50% 50%;
      mask-size: cover;
    }

    .sprites {
      position: relative;
      stroke: var(--dark);
      top: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    padding: 0 1rem;

    > :not(.folder) {
      padding: 0 6rem;
    }
  }

  .down {
    @each $name, $color in $colors {
      &--#{$name} {
        color: var(--#{$name});
      }
    }
  }

  @each $name, $color in $colors {
    &--#{$name} {
      .folder__header {
        &::after {
          background-color: var(--#{$name});
        }
      }

      .folder__body {
        background-color: var(--#{$name});
      }
    }
  }
}
