@import "../../../assets/variables";

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--dark);
  text-decoration: none;
  font-size: var(--font-size-l);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: inherit;

  > .sprites {
    width: 2.4rem;
    height: 2.4rem;
  }

  &--icon {
    @media (min-width: 64em) {
      > * {
        display: non;
      }
    }
  }

  @each $name, $color in $colors {
    &--#{$name} {
      border: 1px solid var(--#{$name});

      &:hover {
        background-color: var(--#{$name});
      }

      &.active {
        background-color: var(--#{$name});
      }
    }
  }
}
