@import "@/assets/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  isolation: isolate;
  transition: all 0.3s;

  &::after {
    content: "";
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    clip-path: circle(0rem at calc(100% - 6rem) 5rem);
    transition: clip-path 1s;
  }

  @media (max-width: #{map-get($breakpoints, "lg")}) {
    &--open {
      &::after {
        clip-path: circle(200vmax at calc(100% - 6rem) 5rem);
        height: 200vh;
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-right: auto;

    @media (min-width: #{map-get($breakpoints, "lg")}) {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .burger {
    @media (min-width: #{map-get($breakpoints, "lg")}) {
      display: none;
    }
  }

  &--scrolled {
    transition: all 0.2s;
    background-color: var(--grey);
  }
}

[data-theme="dark"] {
  .header {
    &--scrolled {
      background-color: var(--dark);
    }
  }
}
