.learn {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  position: relative;
  width: fit-content;

  .sprites {
    cursor: grab;
    position: absolute;
    top: -6rem;
    left: 0;
    width: 10rem;
    height: 10rem;

    &:active {
      cursor: grabbing;
    }
  }
  &__icon {
    position: relative;

    &::after {
      display: block;
      content: "";
      z-index: -1;
      position: absolute;
      width: 5rem;
      height: 5rem;
      top: -3rem;
      left: 4.5rem;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      backdrop-filter: blur(2px);
    }
  }
}

[data-theme="dark"] {
  .learn {
    color: var(--light);

    .sprites {
      fill: var(--light);
    }
  }
}
