.sorts {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  gap: 1rem;
  flex-wrap: wrap;

  &__separator {
    flex: 1;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      border-top: 1px solid var(--dark);
    }
  }

  .sprites {
    fill: var(--dark);
  }

  &__nb {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-smd);
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;
  }
}
