.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--dark);
  border-radius: 1rem;
  box-shadow: 5px 5px 0px var(--dark);
  background-color: var(--light);

  &__input {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

    > .sprites {
      width: 2rem;
      height: 2rem;
    }
  }

  &__text {
    border: none;
    font-size: var(--font-size-md);
    font-family: var(--font-family-secondary);
    text-transform: capitalize;
    padding: 1rem 0;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }
}
