.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  isolation: isolate;

  &.active {
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      border: 0.5px solid var(--dark);
      width: 80%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  &__input {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    position: relative;

    > .sprites {
      width: 2rem;
      height: 2rem;
    }
  }

  &__text {
    border: none;
    font-size: var(--font-size-md);
    font-family: var(--font-family-secondary);
    text-transform: capitalize;
    padding: 1rem 0;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }

  &__options {
    position: absolute;
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: 1rem;
    box-shadow: 5px 5px 0px var(--dark);
    top: 0%;
    left: 0;
    background-color: var(--light);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    z-index: -1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__option {
    font-size: var(--font-size-md);
    display: -webkit-box;
    padding-inline: 2rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:first-child {
      margin-top: 4rem;
    }
  }
}
