.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    &__header {
        width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: var(--light);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__infos {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            padding: 1.5rem;

            span {
                font-family: var(--font-family-secondary);
                color: var(--dark);
                font-size: 1.2rem;
            }
        }
    }

    &__body {
        width: 100%;
        background-color: var(--light);
        border-radius: 0 0 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;

        &__principal {
            padding-bottom: 5rem;
            position: relative;
            width: 100%;
            color: var(--dark);
            font-family: var(--font-family-primary);
            font-size: 1.4rem;
            font-weight: 500;
        }

        &__count {
            border: 2px solid var(--primary);
            border-width: 2px 0 2px;
            width: 100%;
            padding: 1rem;
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            cursor: pointer;

            span {
                font-family: var(--font-family-secondary);
                font-size: 1.2rem;
            }
        }

        &__reply {
            margin-top: 3rem;
            margin-bottom: 1.5rem;
        }

        &__btns {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1.5rem;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        &__children {
            padding-left: 1.5rem;
            margin-top: 1.5rem;
            border-left: 2px solid var(--primary);
            width: 100%;

            .comment__header {
                border: 2px solid var(--grey);
                border-width: 2px 0 2px;
                border-radius: 0;
            }
        }
    }
}