.cardSolution {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 0px var(--dark);
    border: 1px solid var(--dark);
    border-radius: 1rem;
    gap: 1rem;
    background-color: var(--light);
    isolation: isolate;
    padding: 1rem;

    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        font-size: var(--font-size-sm);
        font-family: var(--font-family-secondary);
        
        .date {
            display: inline-block;
        }
    }

    &__profile {
        border: 1px solid var(--dark);
        border-width: 1px 0;
    }

    &__content {
        .paragraph {
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}