@import "@/assets/variables";

.heading {
  font-family: var(--font-family-secondary);
  color: var(--dark);
  text-transform: uppercase;

  &--primary {
    font-size: var(--font-size-xl);
  }

  &--secondary {
    font-size: var(--font-size-lg);
  }

  &--tertiary {
    font-size: var(--font-size-md);
  }

  &--quaternary {
    font-size: var(--font-size-xs);
  }
}
