.like {
  cursor: pointer;

  &--true {
    .sprites {
      fill: var(--danger);
    }
  }

  &--false {
    .sprites {
      fill: none;
    }
  }

  .sprites {
    width: 2rem;
    height: 2rem;
  }
}
