@import "@/assets/utilities";
@import "@/assets/variables";

.login {
    @extend .full;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(2, min-content);

    &__subtitle {
        padding-bottom: 0.5rem;
        color: var(--dark);
        font-size: var(--font-size-sm);
        font-family: var(--font-family-secondary);
        opacity: 0.6;

        & button {
            appearance: none;
            border: none;
            background: none;
            outline: none;
            color: var(--dark);
            font-size: var(--font-size-sm);
            font-family: var(--font-family-secondary);
            cursor: pointer;

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(4, min-content);
        gap: 1rem;

        &__subtitle {
            @extend .login__subtitle;
            padding: 0;
        }
    }
}