.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--size), 100%), 1fr));
  gap: 4rem;
  position: relative;

  .dotLoader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
