.hero {
  margin-top: 3rem;
  display: grid;

  @media (min-width: 48em) {
    grid-template-columns: 1fr 1fr;

    .lf-player-container {
      margin-top: -8rem;
    }
  }

  @media (min-width: 64em) {
    grid-template-columns: 1fr 66rem;
  }
}
