@import "@/assets/utilities";
@import "@/assets/variables";

.tabs {
  @extend .full;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;

    &__item {
      position: relative;
      isolation: isolate;
      @extend .flex-centered, .transition;
      flex: 1;
      height: 6rem;
      background-color: transparent;
      border: 2px solid var(--primary);
      border-radius: 10px;
      font-size: var(--font-size-md);
      font-family: var(--font-family-secondary);
      text-transform: uppercase;
      overflow: hidden;
      cursor: pointer;

      &.active {
        border-radius: 1rem 1rem 0 0;

        &::after {
          background-color: var(--primary);
          transition: none;
        }

        &::before {
          clip-path: circle(0% at 50% 50%);
          background-color: var(--light);
          transition: 0.2s;
        }

        &:hover {
          &::before {
            clip-path: circle(100% at 50% 50%);
          }
        }
      }

      &::before {
        width: 200%;
        aspect-ratio: 1;
        transition: 0.75s;
        border-radius: 50%;
        z-index: -1;
        clip-path: circle(0% at 50% 50%);
        background-color: var(--primary);
      }

      &::after {
        width: 100%;
        height: 100%;
        z-index: -2;
        transition: none;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }

      &:hover::before {
        clip-path: circle(100% at 50% 50%);
      }
    }
  }

  &__content {
    @extend .full;
    flex: 1;
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: 0 0 1rem 1rem;

    &__item {
      position: relative;
    }
  }
}
