@import "@/assets/utilities";
@import "@/assets/variables";

.badge {
  font-size: var(--font-size-xs);
  font-family: var(--font-family-secondary);
  padding: 0.5rem;
  min-width: 2rem;
  min-height: 2rem;
  aspect-ratio: 1;
  color: var(--dark);
  border-radius: 100vmax;
  @extend .flex-centered;
  border: 1px solid var(--dark);
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
