@import "../../../assets/variables";

.badge {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xs);
  padding: 0.35em 0.65em;
  color: var(--dark);

  @each $name, $color in $colors {
    &--#{$name} {
      background-color: var(--#{$name});
    }
  }
}
