.wysiwyg {
    position: relative;

    &__absolute {
        position: absolute;
        right: 2rem;
        bottom: calc(2rem + 2.5rem);
    }

    &--primary {
        .tox-editor-header {
            border-bottom-color: var(--primary)!important;
        }
    }

    &--light {
        .tox-editor-header {
            border-bottom-color: var(--light)!important;
        }
    }

    &--grey {
        .tox-editor-header {
            border-bottom-color: var(--grey)!important;
        }
    }

    &--dark {
        .tox-editor-header {
            border-bottom-color: var(--dark)!important;
        }
    }
}

.tox.tox-tinymce {
    border: none;

    .tox-editor-header {
        box-shadow: none!important;
        border-bottom-width: 2px!important;
        border-bottom-style: solid!important;
    }
}