.logo {
  display: flex;
  text-decoration: none;
  align-items: flex-end;
  gap: 0.2rem;

  &__img {
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
  }

  &__txt {
    color: var(--dark);
    font-family: var(--font-family-tertiary);
  }
}

[data-theme="dark"] {
  .logo {
    &__txt {
      color: var(--light);
    }
  }
}
