.multiselect {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--font-size-md);
  padding: 1rem;
  border: 1px solid var(--dark);
  box-shadow: 5px 5px 0px var(--dark);
  background-color: var(--light);
  font-family: var(--font-family-secondary);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  max-width: 28rem;

  &__input {
    display: flex;
    align-items: flex-end;
    width: 100%;

    > .sprites {
      width: 1rem;
      height: 1rem;
    }
  }

  &__selected {
    display: flex;
    column-gap: 1rem;
    align-items: flex-end;
    width: 100%;
    overflow-x: scroll;

    > .sprites {
      width: 1rem;
      height: 1rem;
    }
  }

  &__badge {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    background-color: var(--grey);
    padding: 1rem;

    > .sprites {
      width: 1rem;
      height: 1rem;
    }
  }

  &__options {
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: -1px;
    width: 100%;
    cursor: pointer;
    background-color: var(--light);
    border: 1px solid var(--dark);
    border-top: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 5px 5px 0px var(--dark);
    box-sizing: content-box;
    max-height: 20rem;
    overflow-y: scroll;

    &::before {
      position: sticky;
      top: 0;
      content: "";
      border-top: 1px solid var(--dark);
      width: 90%;
      margin: 0 auto;
    }
  }
}
