.defineChallenge {
  padding: 2rem 4rem;
  border: 2px solid var(--primary);
  border-radius: 1rem;
  max-height: 70vh;
  overflow-y: auto;

  .multiForm {
    padding: 1rem 0;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__full {
    grid-column: 1/3;
  }
}
